* {
	box-sizing: border-box;
}

h1, h2, h3 {
	padding-left: 15px;
	padding-right: 15px;
	margin-bottom: 20px;
	font-weight: 300;
	font-family: 'Lato', Helvetica, Arial, sans-serif;
    line-height: 1.1;

}

h1 {
	font-size: 44px;
}

h2 {
	font-size: 37px;
}

h3 {
	font-size: 27px;
}

.content {
	margin-left: 30px;
	margin-top:30px;
}

*{
	background: url(images/olivier-martel-savoie-259468.jpg) no-repeat center center fixed;
	background-size: cover;
	-moz-background:cover;
	-webkit-background-size:cover;




}